body {background-color: lightcyan;}
.size {height: 30px;}
.balk {display:flex; justify-content:space-between}
input {display:flex; justify-content:center; 
    background-color: white; width:350px; height: 30px;
    margin-top: 20px;}
.navigatiebar {display:flex;justify-content:space-evenly; 
    background-color:white; padding:15px;
    font-family: "georgia",'Times New Roman', Times, serif; font-weight: bold;}
.navigatiebar li {border-right: 2px black solid; padding-right: 20px; 
    border-left:2px black solid; padding-left: 20px;}
.line {text-decoration: underline;}
h4 {color:firebrick;}
.R {display:flex; flex-direction:column;}
.T {display:flex; justify-content:space-around}
li {list-style-type:none;}
.talen {color:firebrick;}
.end {display:flex; justify-content:space-evenly;}
.end li {    border-right: 1px firebrick solid; padding-right: 5px; 
    border-left:1px firebrick solid; padding-left: 5px;}
.background {
    height:500px;
     background-image:url("background.png"); background-repeat:no-repeat; 
     background-attachment:fixed;background-size: cover;}
.icon {display:flex;justify-content: space-between;width: 400px;}